<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% const REDIRECT_URL = "https://www.themuse.com/job/redirect"%>
  </head>
  <body>
    <div class="jobs-grid">
      <% jobs.forEach(job=> { %>
      <div class="job">
        <div class="info">
          <h1>
            <a href="<%= job.refs.landing_page %>"> <%= job.company.name %> </a>
          </h1>
          <h2><%= job.name %></h2>
          <span> <%= job.locations.name %> </span>
          <a href="<%=`${REDIRECT_URL}/${job.id}`%>">Apply Now</a>
        </div>
      </div>
      <% }); %>
    </div>
  </body>
</html>
